blockchain/cache
blockchain/artifacts
blockchain/.env
simulator/.env
package-lock.json
node_modules
dist
data/*
!data/.keep
npm-debug.log
.idea/
yarn.lock
yarn-error.log
package-lock.json
*.pem
data/
merkle-data/
all.yml
.env
